<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.eric.pushAPNS</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>base Podfile</string>
			<key>Description</key>
			<string>选择依赖的库</string>
			<key>Identifier</key>
			<string>podfile</string>
			<key>Name</key>
			<string>选择依赖的库配置</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>base Podfile</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile</key>
						<dict>
							<key>Path</key>
							<string>./external/podfiles/base/Podfile</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile</string>
					</array>
				</dict>
				<key>base+zxing Podfile</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>model/___VARIABLE_classPrefix:identifier___ZXingBoard.h</key>
						<dict>
							<key>Path</key>
							<string>./external/podfiles/base+zxing/ZXingBoard.h</string>
							<key>Group</key>
							<string>model</string>
						</dict>
						<key>model/___VARIABLE_classPrefix:identifier___ZXingBoard.m</key>
						<dict>
							<key>Path</key>
							<string>./external/podfiles/base+zxing/ZXingBoard.m</string>
							<key>Group</key>
							<string>model</string>
						</dict>
						<key>../Podfile</key>
						<dict>
							<key>Path</key>
							<string>./external/podfiles/base+zxing/Podfile</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>model/___VARIABLE_classPrefix:identifier___ZXingBoard.h</string>
						<string>model/___VARIABLE_classPrefix:identifier___ZXingBoard.m</string>
						<string>../Podfile</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>不使用</string>
			<key>Description</key>
			<string>第三方服务(统计、升级、分享...)</string>
			<key>Identifier</key>
			<string>externel</string>
			<key>Name</key>
			<string>第三方服务</string>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>umeng系列</key>
				<dict>
					<key>Definitions</key>
					<dict/>
					<key>Nodes</key>
					<array/>
				</dict>
				<key>不使用</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>model/___VARIABLE_classPrefix:identifier___ZXingBoard.h</key>
						<dict>
							<key>Path</key>
							<string>./external/podfiles/base+zxing/ZXingBoard.h</string>
							<key>Group</key>
							<string>model</string>
						</dict>
						<key>model/___VARIABLE_classPrefix:identifier___ZXingBoard.m</key>
						<dict>
							<key>Path</key>
							<string>./external/podfiles/base+zxing/ZXingBoard.m</string>
							<key>Group</key>
							<string>model</string>
						</dict>
						<key>../Podfile</key>
						<dict>
							<key>Path</key>
							<string>./external/podfiles/base+zxing/Podfile</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>model/___VARIABLE_classPrefix:identifier___ZXingBoard.h</string>
						<string>model/___VARIABLE_classPrefix:identifier___ZXingBoard.m</string>
						<string>../Podfile</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>没有地图</string>
			<key>Description</key>
			<string>选择依赖的地图</string>
			<key>Identifier</key>
			<string>mapApi</string>
			<key>Name</key>
			<string>选择依赖的的地图</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>高德地图(搜索)</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Frameworks/libstdc++.6.0.9.dylib</key>
						<dict>
							<key>Path</key>
							<string>/usr/lib/libstdc++.6.0.9.dylib</string>
							<key>PathType</key>
							<string>DeveloperDir</string>
							<key>FileType</key>
							<string>wrapper.framework</string>
							<key>Group</key>
							<string>Frameworks</string>
						</dict>
						<key>___PACKAGENAME___-Prefix.pch:objC:importMapSearch</key>
						<string>#import &quot;HMMapSearchAPI.h&quot;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAME___-Prefix.pch:objC:importMapSearch</string>
						<string>Frameworks/libstdc++.6.0.9.dylib</string>
					</array>
				</dict>
				<key>百度地图</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Frameworks/libstdc++.6.0.9.dylib</key>
						<dict>
							<key>Path</key>
							<string>/usr/lib/libstdc++.6.0.9.dylib</string>
							<key>PathType</key>
							<string>DeveloperDir</string>
							<key>FileType</key>
							<string>wrapper.framework</string>
							<key>Group</key>
							<string>Frameworks</string>
						</dict>
						<key>Frameworks/libsqlite3.dylib</key>
						<dict>
							<key>Path</key>
							<string>/usr/lib/libstdc++.6.0.9.dylib</string>
							<key>PathType</key>
							<string>DeveloperDir</string>
							<key>FileType</key>
							<string>wrapper.framework</string>
							<key>Group</key>
							<string>Frameworks</string>
						</dict>
						<key>___PACKAGENAME___-Prefix.pch:objC:importMapSearch</key>
						<string>#import &quot;HMBDMapSearchAPI.h&quot;</string>
						<key>___PACKAGENAME___-Prefix.pch:objC:importMap</key>
						<string>#import &quot;BDMapView.h&quot;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAME___-Prefix.pch:objC:importMapSearch</string>
						<string>___PACKAGENAME___-Prefix.pch:objC:importMap</string>
						<string>Frameworks/libsqlite3.dylib</string>
						<string>Frameworks/libstdc++.6.0.9.dylib</string>
						<string>../Podfile</string>
					</array>
				</dict>
				<key>没有地图</key>
				<dict>
					<key>Definitions</key>
					<dict/>
					<key>Nodes</key>
					<array/>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
