<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.eric.pushAPNS</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>___PACKAGENAME___-Prefix.pch:objC:importHMExtension</key>
		<string>#import &lt;EFMWK/HMExtension.h&gt;</string>
		<key>___PACKAGENAME___-Prefix.pch:objC:importUserCenter</key>
		<string>#import &quot;___VARIABLE_classPrefix:identifier___UserCenter.h&quot;</string>
		<key>model/___VARIABLE_classPrefix:identifier___UserCenter.h</key>
		<dict>
			<key>Path</key>
			<string>model/UserCenter.h</string>
			<key>Group</key>
			<string>model</string>
		</dict>
		<key>model/___VARIABLE_classPrefix:identifier___UserCenter.m</key>
		<dict>
			<key>Path</key>
			<string>model/UserCenter.m</string>
			<key>Group</key>
			<string>model</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>该模版依赖于EFWK,请自行导入相关的Framework</string>
	<key>Identifier</key>
	<string>com.eric.ApplicationFramework</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importHMExtension</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importUserCenter</string>
		<string>model/___VARIABLE_classPrefix:identifier___UserCenter.h</string>
		<string>model/___VARIABLE_classPrefix:identifier___UserCenter.m</string>
		<string>AppDelegate.h</string>
		<string>AppDelegate.m</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Frameworks</key>
		<array>
			<string>EFMWK.framework</string>
			<string>AVFoundation.framework</string>
			<string>libsqlite3.dylib</string>
			<string>libz.dylib</string>
			<string>libxml2.dylib</string>
			<string>libc++.dylib</string>
		</array>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>8.0</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>FRAMEWORK_SEARCH_PATHS</key>
			<string>$(inherited) $(SRCROOT)/../../../comm/EFNew/EFWKLib/Frameworks/Public</string>
			<key>LIBRARY_SEARCH_PATHS</key>
			<string>$(inherited)</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>$(inherited) $(SRCROOT)/../../../comm/EFNew/EFWKLib/Frameworks/Public</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>For_iPhone/___VARIABLE_classPrefix:identifier___MainBoard.h</string>
						<string>For_iPhone/___VARIABLE_classPrefix:identifier___MainBoard.m</string>
						<string>For_iPad/___VARIABLE_classPrefix:identifier___MainBoard_iPad.h</string>
						<string>For_iPad/___VARIABLE_classPrefix:identifier___MainBoard_iPad.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>For_iPhone/___VARIABLE_classPrefix:identifier___MainBoard.h</key>
						<dict>
							<key>Path</key>
							<string>For_iPhone/MainBoard.h</string>
							<key>Group</key>
							<string>For_iPhone</string>
						</dict>
						<key>For_iPhone/___VARIABLE_classPrefix:identifier___MainBoard.m</key>
						<dict>
							<key>Path</key>
							<string>For_iPhone/MainBoard.m</string>
							<key>Group</key>
							<string>For_iPhone</string>
						</dict>
						<key>For_iPad/___VARIABLE_classPrefix:identifier___MainBoard_iPad.h</key>
						<dict>
							<key>Path</key>
							<string>For_iPad/MainBoard_iPad.h</string>
							<key>Group</key>
							<string>For_iPad</string>
						</dict>
						<key>For_iPad/___VARIABLE_classPrefix:identifier___MainBoard_iPad.m</key>
						<dict>
							<key>Path</key>
							<string>For_iPad/MainBoard_iPad.m</string>
							<key>Group</key>
							<string>For_iPad</string>
						</dict>
						<key>Base.lproj/Main_iPad.storyboard</key>
						<dict>
							<key>Path</key>
							<string>For_iPad/Main_iPad.storyboard</string>
						</dict>
						<key>Base.lproj/Main_iPhone.storyboard</key>
						<dict>
							<key>Path</key>
							<string>For_iPhone/Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>For_iPad/___VARIABLE_classPrefix:identifier___MainBoard_iPad.h</string>
						<string>For_iPad/___VARIABLE_classPrefix:identifier___MainBoard_iPad.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>For_iPad/___VARIABLE_classPrefix:identifier___MainBoard_iPad.h</key>
						<dict>
							<key>Path</key>
							<string>For_iPad/MainBoard_iPad.h</string>
							<key>Group</key>
							<string>For_iPad</string>
						</dict>
						<key>For_iPad/___VARIABLE_classPrefix:identifier___MainBoard_iPad.m</key>
						<dict>
							<key>Path</key>
							<string>For_iPad/MainBoard_iPad.m</string>
							<key>Group</key>
							<string>For_iPad</string>
						</dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>For_iPad/Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>For_iPhone/___VARIABLE_classPrefix:identifier___MainBoard.h</string>
						<string>For_iPhone/___VARIABLE_classPrefix:identifier___MainBoard.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>For_iPhone/___VARIABLE_classPrefix:identifier___MainBoard.h</key>
						<dict>
							<key>Path</key>
							<string>For_iPhone/MainBoard.h</string>
							<key>Group</key>
							<string>For_iPhone</string>
						</dict>
						<key>For_iPhone/___VARIABLE_classPrefix:identifier___MainBoard.m</key>
						<dict>
							<key>Path</key>
							<string>For_iPhone/MainBoard.m</string>
							<key>Group</key>
							<string>For_iPhone</string>
						</dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>For_iPhone/Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>classPrefix</string>
			<key>Name</key>
			<string>Class Prefix</string>
			<key>Description</key>
			<string>The prefix to prepend to all created classes</string>
			<key>Type</key>
			<string>text</string>
			<key>Placeholder</key>
			<string>XYZ</string>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
