<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string>2016年中国传统节日
　　春节[农历01/01]      路神生日[农历01/05]
　　元宵节[农历01/15]      龙抬头[农历02/02]
　　寒食节[清明前一天]      清明节[4月无定日]
　　端午节[农历05/05]     天贶节[农历06/06]
　　姑姑节[农历06/06]     彝族火把节[农历06/24]
　　七夕节[农历07/07]     盂兰盆节[农历07/15]
　　地藏节[农历07/30]     中秋节[农历08/15]
　　重阳节[农历09/09]     祭祖节[农历10/01]
　　冬至节[农历11月无定日]      腊八节[农历12/08]
　　过小年[农历12/23]     除夕[农历12/30]
　　2016年节日表一览
　　2016年1月节日大全一览
　　新年元旦[01/01]
　　黑人节[1月第一个星期天]
　　中国13亿人口日[01/06]
　　日本成人节[1月第二个星期一]
　　中国110宣传日[01/10]
　　国际麻风节[1月最后一个星期日]
　　2016年2月节日大全一览
　　世界湿地日[02/02]
　　世界抗癌症日[02/4]
　　世界气象日[02/10]
　　情人节[02/14]
　　国际母语日[02/21]
　　国际声援南非日[02/7]
　　国际罕见病日[02/29]
　　2016年3月节日大全一览
　　全国爱耳日[03/03]
　　妇女节[03/08]
　　植树节[03/12]
　　国际消费日[03/15]
　　世界森林日 [03.21]
　　世界水日[03/22]
　　世界气象日 [03.23]
　　世界防治结核病日 [03.24]
　　2016年4月节日大全一览
　　愚人节[04/01]
　　清明节 [04/05]
　　世界卫生日 [04/07]
　　世界地球日[04/22]
　　2016年5月节日大全一览
　　国际劳动节[05/01]
　　中国青年节[05/04]
　　全国碘缺乏病日 [05.05]
　　世界红十字日[05/08]
　　国际护士节[05/12]
　　国际家庭日[05/15]
　　世界电信日[05/17]
　　国际博物馆日[05/18]
　　全国助残日[每年五月第三个星期日]
　　中国汶川地震哀挨哀悼日[05/19]
　　全国学生营养日[05/20]
　　国际生物多样性日[05/22]
　　国际牛奶日[每年5月的第三个星期二]
　　世界无烟日[05/31]
　　母亲节[5月第二个星期日]
　　2016年6月节日大全一览
　　国际儿童节 [06.01]
　　世界环境日[06/05]
　　全国爱眼日 [06.06]
　　父亲节[6月第三个星期日]
　　防治荒漠化和干旱日 [06.17]
　　国际奥林匹克日[06/23]
　　全国土地日 [06.25]
　　国际反毒品日[06.26]
　　2016年7月节日大全一览
　　香港回归日[07/01]
　　建党节[07/01]
　　抗日战争纪念日 [07.07]
　　世界过敏性疾病日[07/8]
　　世界人口日[07/11]
　　8月节日大全一览
　　八一建军节[08/01]
　　七夕情人节 [农历七月初七]
　　2016年9月节日大全一览
　　国际扫盲日[09/08]
　　教师节[09/10]
　　世界预防自杀日[09/10]
　　国际臭氧层保护日[09/16]
　　国际和平日[09/17]
　　国际爱牙日 [09.20]
　　中秋节 [农历八月十五]
　　国际聋人节[9月第四个星期日]
　　世界旅游日 [09.27]
　　重阳节[农历九月初九]
　　2016年10月节日大全一览
　　国庆节[10/01]
　　国际音乐节 [10.01]
　　国际减轻自然灾害日 [10.02]
　　国际住房日[10/07]
　　全国高血压日 [10.08]
　　世界视觉日[10/08]
　　世界邮政日[10/09]
　　世界精神卫生日 [10.10]
　　国际盲人节[10/15]
　　世界粮食节[10/16]
　　世界消除贫困日 [10.17]
　　中国(揭阳)国际玉器节[10/21]
　　世界传统医药日[10/22] 联合国日[10/24]
　　人类天花绝迹日[10/25]
　　足球诞生日[10/26]
　　万圣节[10/31]
　　2016年11月节日大全一览
　　中国记者日[11/08]
　　消防宣传日 [11.09]
　　光棍节[11.11]
　　世界糖尿病日 [11.14]
　　国际大学生节 [11.17]
　　感恩节[11月第四个星期四]
　　2016年12月节日大全一览
　　世界艾滋病日[12/1]
　　世界残疾人日 [12.03]
　　世界足球日 [12.09]
　　澳门回归纪念日[12/20]
　　国际篮球日[12/21]
　　冬至节 [农历十二月二十二日]
　　平安夜[12/24]
　　圣诞节 [12.25]
　　世界强化免疫日[12/25]
　　毛泽东诞辰[12/26]</string>
</dict>
</plist>
